/.idea/.idea.DiscordExtensionBeta.dir/.idea/.gitignore
/.idea/.idea.DiscordExtensionBeta.dir/.idea/encodings.xml
/.idea/.idea.DiscordExtensionBeta.dir/.idea/indexLayout.xml
/.idea/.idea.DiscordExtensionBeta.dir/.idea/vcs.xml
